/*Jumbotron*/
header {
	height: 985px;
}

.jumbotron {
	background-color: #000066;
}

.jumbotron .container {
	background-color: #000000;
	color: #FFFFFF;

  	position: absolute;
 	top: 50%;
  	left: 50%;
   	transform: translate(-50%, -50%);
}

/*Navigation Bar*/
.navbar {
	background-color: #000000;
	opacity: .7;
}

.navbar-brand {
	font-weight: 1000px;
	font-size: 30px;
	letter-spacing: 2px;
}

.navbar li a, .navbar .navbar-brand {
	color: #66CCFF;
}


.navbar-nav li a:hover {
	background-color: transparent;
	color: #FFFFFF;
}

.navbar-nav li.active a {
	background-color: #000000;
}

/*About*/
.img-circle {
	width: 300px;
	height: auto;
}

#about p {
	font-size: 30px;
	margin: 60px;
}

#about h1 {
	font-size: 50px;
	letter-spacing: 2px;
}

