
/*Jumbotron*/
header {
	height: 985px;
}

.jumbotron {
	background-color: #000066;
}

.jumbotron .homeText {
	background-color: #000000;
	color: #FFFFFF;

  	position: absolute;
 	top: 50%;
  	left: 50%;
   	transform: translate(-50%, -50%);
}

/*Navigation Bar*/
.navbar {
	background-color: #000000;
	opacity: .7;
	display: none;
}

.navbar-brand {
	font-weight: 1000px;
	font-size: 30px;
	letter-spacing: 2px;
}

.navbar li a, .navbar .navbar-brand {
	color: #66CCFF;
}

.navbar-nav li a:hover {
	background-color: transparent;
	color: #FFFFFF;
}

.navbar-nav li.active a {
	background-color: #000000;
}

/*About*/
.img-circle {
	width: 350px;
	height: auto;
}

#about {
	padding: 140px;
	display: none;
}

#about h1 {
	font-size: 55px;
	letter-spacing: 2px;
	margin: 20px;
}

#about p {
	font-size: 25px;
	margin: 30px;
}

/*Projects*/
#projects {
	display: none;
}


/*Contact*/
#contact {
	background-color: #000066;
	display: none;
}

#contact h1, #contact p{
	color: #FFFFFF;
}

#myLocation, #myEmail, #myNumber, #mySpliel {
	margin: 20px;
}

.element, .animatedWords{
	display: inline-block;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #FFFFFF;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
