

header {
	height: 985px;
}

.jumbotron {
	background-color: #000066;
}

.jumbotron .container {
	background-color: #000000;
	color: #FFFFFF;

  	position: absolute;
 	top: 50%;
  	left: 50%;
   	transform: translate(-50%, -50%);
}

